
.icon-resize-full:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-resize-small:before { content: '\e803'; } /* '' */
.icon-moon-inv:before { content: '\e804'; } /* '' */
.icon-sun:before { content: '\e805'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-th-thumb-empty:before { content: '\f00b'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-facebook-1:before { content: '\f30c'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-dribbble-1:before { content: '\f31b'; } /* '' */